
.jumbotron img{
    max-width: 150px;
}

.jumbotron {
    text-align: center;
    background-color: rgb(102, 186, 158);
}

.navbar {
    margin-bottom: 0;
    background-color: rgb(49, 62, 79);
    border: 0;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    padding-top: 70px;
}

.container {
    color: white;
}

.container .navbar-header a{
    color: white;
}

.container .collapse ul li a{
    color: white;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.stella{
    text-align: center;
    max-width: 300px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stella::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: white;
}

.stella::before{
    left: 0;
}

.stella::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: white;
}

.prima .container .row .imgcontainer div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.stella::after{
    right: 0;
}

.stella i {
    font-size: 20px;
}

section {
    text-align: center;
}

.h1 {
    font-size: 50px;
    font-weight: bold;
}

.nero{
    color: rgb(49, 62, 79);
}

.black {
    color: rgb(49, 62, 79);
}

.black::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: rgb(49, 62, 79);
}
.black::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: rgb(49, 62, 79);
}

section .container div img {
    max-width: 100%;
}

.imgcontainer {
    margin-top: 20px;
}

.prima , .seconda{
    padding-bottom: 100px;
}

.seconda {
    background-color:  rgb(102, 186, 158);
    padding-top: 30px;
}

.textcontainer::after{
    content: "";
    display: table;
    clear: both;
}

.textcontainer p {
    font-size: 20px;
    text-align: left;
    padding-bottom: 50px;
}

.inputcontainer::after  {
    content: "";
    display: table;
    clear: both;
}

.inputcontainer {
    padding: 30px 0 ;
    border-bottom: 1px solid rgb(233, 236, 239);
}

.inputcontainer input::placeholder {
    color: rgb(108, 117, 133);
}

.lineheigth {
    min-height: 250px;
}

.seconda .container a {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 18px;
    font-size: 22px;
}

.form-control {
    border: 0;
    box-shadow: none;
    font-size: 25px;
}

.form-control:focus{
    outline: none;
    border: 0;
    box-shadow: none;
}

.inputdiv::after{
    content: "";
    display: table;
    clear: both;
}

.col-xs-8 a {
    left: 0;
}

#inputlink {
    text-align: left;
    padding-top: 70px;
}

#inputlink a{
    font-size: 25px;
    color: white;
    border: 25px solid rgb(102, 186, 158);
    background-color: rgb(102, 186, 158);
    border-radius: 10px;
    padding: 0 10px;
}

.terza {
    padding-bottom: 100px;
    padding-top: 30px;
}

.corpo {
    background-color: rgb(49, 62, 79);
    padding-top: 70px;
    padding-bottom: 70px;
}

footer .corpo .container div p a {
    color: rgb(102, 186, 158);
}

footer .corpo .container div address {
    font-size: 20px;
}

footer .corpo .container div a i {
    color: white;
    font-size: 21px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50px;
}

footer .corpo .container div a .facebook {
    color: white;
    font-size: 21px;
    border: 2px solid white;
    padding: 20px 23px;;
    border-radius: 50px;
}

footer .corpo .container div a  {
     padding: 10px;
}

footer .corpo .container div p {
    font-size: 20px;
}

footer .corpo .container div div:last-child h2{
    padding-bottom: 30px;
}

footer .corpo .container div div:nth-last-child(2) h2{
    padding-bottom: 30px;
}

.copyright {
    background-color: rgb(26, 37, 47);
    padding: 10px 0;
}

.copyright p {
    font-size: 15px;
    padding-top: 10px;
}
